[Unit]
Description=vnfm api service

[Service]
ExecStart=/flask/bin/python /nfv_upgrade_demo/api_agent/app.py -c vnf -a %i

[Install]
WantedBy=multi-user.target
Wants=network-online.target
After=network-online.target
