[Unit]
Description=vnfm api service

[Service]
ExecStart=/home/centos/flask/bin/python /home/centos/nfv_upgrade_demo/api_agent/app.py -c vnf -a %i

[Install]
WantedBy=multi-user.target
Wants=network-online.target
After=network-online.target
