[Unit]
Description=vnfm api service

[Service]
ExecStart=/root/flask/bin/python /root/nfv_upgrade_demo/api_agent/app.py -a %i

[Install]
WantedBy=multi-user.target
Wants=network-online.target
After=network-online.target
